@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body, html {
    text-align: center;
    padding-top: 5em;
}

img {
    height: 175px;
    display: block;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;

}

h1 {
    /*font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;*/
    color: #0D47A1;
    font-size: 50px;
    display: none;
    z-index: 1000;
}

button {
    background-color: #1976D2;
    width: 100px;
}

p {
    margin-top: 10px;
}
